[submodule ".zsh_custom/themes/powerlevel10k"]
	path = .zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh_custom/plugins/forgit"]
	path = .zsh_custom/plugins/forgit
	url = https://github.com/wfxr/forgit.git
[submodule ".zsh_custom/plugins/zsh-autocomplete"]
	path = .zsh_custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zsh_custom/plugins/zsh-fzf-history-search"]
	path = .zsh_custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
